ipykernel
ipython
ipywidgets
commitizen
pandas
lxml
crewai[tools]
pyautogen[retrievechat]
unstructured[all-docs]
langchain 
langchain-cli
openai 
weaviate-client
pinecone-client
python-dotenv
streamlit
langchain-community
fastapi[all]
uvicorn
bitsandbytes
langchain-community
transformers
accelerate
faiss-gpu
jq
sse-starlette
python-multipart
pymongo
